{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

version=$(pkgutil --pkg-info=com.apple.pkg.CLTools_Executables | grep version)

if [[ $? != 0 ]]; then
    xcode-select --install
else
    echo "Found version of Xcode CLI: ${version}"
    echo "Skipping install"
fi
{{ end -}}
